/*

  Practice on theLab website
  by Callum

  ********Contents*********

  ****CSS Reset lines****

  ****Core Styles****

  ****Scaffoldings****

  ****Sections****

*/

/**************CSS Reset*********************/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0 none;
  font: inherit;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}
html {
  font-size: 100%;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none outside none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
  content: none;
}
table {
 border-collapse: collapse;
  border-spacing: 0;
}


/*Core Styles*/

body {
  color: #555555;
  font-family: verdana,sans-serif;
  font-size: 13px;
  line-height: 18px;
  background: url("../images/background.png") 0 0 repeat-x fixed transparent;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a{
  font-weight: inherit;
}

h1, h2, h3, h4, h5, h6{
  font-weight: normal;
  padding: 12px;
  color: #fff;
}

h1{
  font-size: 2em;
  margin: 10px 0;
  text-align: left;
}
h2{
  font-size: 1.5em;
  margin: 10px 0;
}
h3{
  font-size: 1.4em;
  margin: 10px 0;
}
h4{
  font-size: 1.3em;
  margin: 10px 0;
}
h5{
  font-size: 1.2em;
  margin: 10px 0;
}
h6{
  font-size: 1.1em;
  margin: 10px 0;
}
p{
  color: #515559;
  padding: 5px 0 5px 0;
  font-size: 0.85em;
}

a{
  color: #FFFFFF;
  line-height: inherit;
  text-decoration: none;
}

a:hover {
  color: #0064A9;
}

p a, p a:visited {
  line-height: inherit;
}

ul, ol {
  margin-bottom: 18px;
}

ul {
  list-style: none outside none;
}

ol {
  list-style: decimal outside none;
}

li {
  margin-bottom: 12px;
}

em{
  font-style: italic;
  line-height: inherit;
}

/* Scaffold */

header{
  padding: 5px;
}

#left-head{
  float: left;
}

#right-head{
  float: right;
}

#left{
  background-color: #eeeeee;
}

#main-content{
  padding-top: 10px;
  padding-bottom: 100px;
  background-color: #FFFFFD;
}

footer{
  margin-top: 10px;
  margin-bottom: 10px;
  clear: both;
  background-color: #fff;
  padding-top: 1.5%;
  padding-bottom: 5%;

}
/* Sections */


.fig {
  font-family: Monospace;
  font-size: 8pt;
  white-space: pre;
  text-align: center;
}

.join{
  font-size: medium;
}

.title-link{
  color: #444;
  font-size: xx-large;
  margin-left: 20%;
}

.title-link:hover{
  color: #000;
}

.post-section{
  margin-left: 20%;
  margin-right: 20%;
}

.post-content{
  color: #474646;
  font-family: 'Open Sans',Helvetica,Arial,Helvetica,sans-serif;
  font-size: 14px;
  line-height: 25px;
}

footer p{
  color: #666666;
  font-family: "Museo-500",Georgia,Times,Times New Roman,serif;
  font-size: small;
  line-height: 24px;
  margin: 0;
}
